<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">Фитнес-дневник: <span style="color: red">YourMeals</span></a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% comment %} {% if user.is_authenticated%}
        User: {{ user.username }}.
        {% endif %} {% endcomment %}
        <a class="p-2 text-dark" href="{% url 'main' %}">Главная страница</a>
        <a class="p-2 text-dark" href="{% url 'user' %}">Профиль</a>
        <a class="p-2 text-dark" href="{% url 'menu' %}">Меню</a>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
    </nav>
</nav>