{% extends "base.html" %}

{% block title %}Меню{% endblock %}

{% block scripts %}
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function() {
        let btn = document.getElementById("search-dishes");
        btn.addEventListener('click', async function(event) {
            event.preventDefault();
            let name = document.querySelector("input[name=name]").value;
            let response = await fetch(`/menu/search/?name=${name}`);
            response.json().then(function(dishes) {
                var search_dishes = dishes;
                console.log(dishes);
                console.log(search_dishes);

                let sd_block = document.getElementById("search-dishes-block");
                sd_block.innerHTML = null;

                let div = document.createElement("div");
                // div.setAttribute("style","overflow-y:auto;height:500px;width:650px;margin-left:15px");
                div.textContent = "";
                if (typeof dishes != "undefined" && dishes != null && dishes.length != null && dishes.length > 0) {
                    // array exists and is not empty    
                    var strd = ``;
                    dishes.map( function(dish) {
                        let calories_on_portion = dish[1];
                        dish = dish[0];
                        strd += `
                            <div class="form-group row mb-2">
                                <input class="form-check-input" type="checkbox" name="selected_dish" value="${dish}" id="${dish}">
                                <label class="form-check-label" for="${dish}">
                                    <a class="p-2 text-sm text-secondary" >${dish} ${calories_on_portion} к.</a>
                                    <a href="/menu/dish/${dish}" class="p-2 text-sm text-info" >Просмотреть</a>
                                </label>
                            </div>
                        `;
                    })
                    div.innerHTML = strd;
                }
                else {
                    div.innerHTML = `
                    <div class="form-group row mb-2">
                        <label class="form-check-label">
                            Блюд по заданным фильтрам не найдено. 
                        </label>
                    </div>
                    `;
                }
                sd_block.append(div);
            });
        })
    })

</script>

{% endblock %}

{% block header %}Меню{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Добавление блюда</div>
            <div class="card-body">

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                    </div>
                {% endif %}

                <form method="GET" action=".">
                    
                    <div class="form-group row">
                        <label class="form-check-label">
                            Наименование блюда: 
                        </label>
                        <input class="form-control" type="text" name="name" required id="id_name" placeholder="Авокадо" {% if name %}value="{{ name }}"{% endif %}>
                        <small id="nameHelp" class="form-text text-muted">Пожалуйста, напишите некоторые слова, которые должны быть в названии блюда</small>
                        
                    </div>
                    
                    <div class="col-md-6 offset-md-4">              
                        <button type="submit" class="btn btn-primary" id="search-dishes">
                            Найти блюда
                        </button>
                    </div>
                      
                </form>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="date" value="{{ meal_date }}">
                    <input type="hidden" name="time" value="{{ meal_time }}">
                    <div class="col-md-12 ml-2 p-10">
                        <label class="form-label"><b>Рекомендуемые блюда:</b></label>
                        {% for dish in rec_dishes %}
                        <div class="form-group row mb-2">
                            <input class="form-check-input" type="checkbox" name="selected_dish" value="{{ dish }}" id="{{ dish }}">
                            <label class="form-check-label" for="{{ dish }}">
                                <a href="{% url 'dish-view' dish %}" class="p-2 text-sm text-secondary" >{{ dish }}</a>
                            </label>
                        </div>
                        {% empty %}
                        Пока нет рекомендуемых блюд. 
                        {% endfor %}        
                    </div>

                    <div class="col-md-12 ml-2 p-10">
                        <label class="form-label"><b>Найденные блюда:</b></label>
                        <div id="search-dishes-block">
                            Блюд по заданным фильтрам не найдено. 
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-4">              
                        <button type="submit" class="btn btn-primary" name="add-dishes">
                            Добавить блюда
                        </button>
                    </div>

                    
                </form>
            </div> <!-- card body -->
        </div> <!-- card -->

    </div> <!-- col -->

</div> <!-- row -->

{% endblock %}


